.App {
  text-align: center;

 @media only screen and (min-width : 768px) {

  width: 75%;
 }
 
}

.circle_group {
  display:flex;
  justify-content: center;
  gap: 8px;

}

.circle_1 {
  border-radius: 50%;
  box-shadow: 5px 5px #888888;
  width: 60px;
  height: 60px;

  background:#e4e4e4;
	padding:20px;
	font-size: 20px;
  color:#323f4b;
  font-weight: bold;
	line-height: 55px;
	text-align: center;			
}

.circle_2 {
  border-radius: 50%;
  box-shadow: 5px 5px #888888;
  width: 60px;
  height: 60px;

  background:#e4e4e4;
	padding:20px;
	font-size: 20px;
  color:#323f4b;
  font-weight: bold;
	line-height: 55px;
	text-align: center;			
}

.circle_3 {
  border-radius: 50%;
  box-shadow: 5px 5px #888888;
  width: 60px;
  height: 60px;


  background:#e4e4e4;
	padding:20px;
	font-size: 20px;
  color:#323f4b;
  font-weight: bold;
	line-height: 55px;
	text-align: center;			
}

.second_circle_group {
  display:flex;
  justify-content: center;
  gap: 10px;
  
}

.second_circle_1 {
  border-radius: 50%;
  box-shadow: 5px 5px #888888;
  width: 80px;
  height: 80px;

  background:#e4e4e4;
	padding:20px;
	font-size: 20px;
  font-weight: bold;
  color:#323f4b;
	line-height: 20px;
	text-align:center;		
}

.second_circle_2 {
  border-radius: 50%;
  box-shadow: 5px 5px #888888;
  width: 80px;
  height: 80px;

  background:#e4e4e4;
	padding:20px;
	font-size: 20px;
  color:#323f4b;
  font-weight: bold;
	line-height: 20px;
	text-align: center;		
}

.square_box_group{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 0%;
  gap: 70px;
}

.square_box {
  border-radius: 5%;
  box-shadow: 5px 5px #888888;
  width: 130px;
  height: 90px;

  background:#e4e4e4;
	padding:20px;
	font-size: 10px;
  font-weight: bold;
	line-height: 70px;
	text-align: left;	
}